@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: gray;
  --bg-separator: #484644;
  --bg-secondary: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #252423;
    --font-color-primary: #fff;
    --bg-separator: #484644;
    --bg-secondary: #11100f;
    color: #8fff8f;

  }
}
html{
  font-size: 62.5%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
